@model DACN.Models.TAIKHOAN

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" style="position: relative; left:30%">
        <h2 style="position: relative; left:15%">Sửa thông tin người dùng</h2>
        <br />
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.IdTK)

        <div class="form-group">
            @Html.LabelFor(model => model.TenNguoiDung, "Tên người dùng", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TenNguoiDung, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TenNguoiDung, "", new { @class = "text-danger" })
                @ViewData["Loi1"]
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MatKhau, "Mật khẩu", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MatKhau, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MatKhau, "", new { @class = "text-danger" })
                @ViewData["Loi2"]
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.Email, "Email", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                @ViewData["Loi3"]
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SDT, "Số điện thoại", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SDT, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SDT, "", new { @class = "text-danger" })
                @ViewData["Loi4"]
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button class="button_type_1 green tr_all second_font fs_medium" type="submit">&emsp;Lưu&emsp;</button>
            </div>
        </div>
    </div>
}


