@model IEnumerable<DACN.Models.TAIKHOAN>

@{
    ViewBag.Title = "ListUser";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<!-- Content Wrapper -->
<div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow" >
            <h5 class="m-0 font-weight-bold text-primary" style="position:relative; left:45%">Thông tin tài khoản</h5>
        </nav>
        <!-- End of Topbar -->
        <!-- Begin Page Content -->
        <div class="container-fluid">

            <!-- DataTales Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <a href="@Url.Action("CreateUser", "Admin")" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" style="position:relative; left:88%">
                        Thêm tài khoản <i class="bi bi-person-plus-fill"></i>
                    </a>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead style="text-align:center">
                                <tr>
                                    <th>Tên người dùng</th>
                                    <th>Gmail</th>
                                    <th>Số điện thoại</th>
                                    <th>Quyền đăng nhập</th>
                                    <th>Tùy chọn</th>
                                </tr>
                            </thead>
                            <tfoot style="text-align:center">
                                <tr>
                                    <th>Tên người dùng</th>
                                    <th>Gmail</th>
                                    <th>Số điện thoại</th>
                                    <th>Quyền đăng nhập</th>
                                    <th>Tùy chọn</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                <tr>
                                    <td>@item.TenNguoiDung</td>
                                    <td>@item.Email</td>
                                    <td>@item.SDT</td>
                                    <td>
                                        @if (@item.QuyenDN == true)
                                        {
                                            <p>Người dùng</p>
                                        }
                                        else
                                        {
                                            <p>Quản trị viên</p>
                                        }
                                    </td>
                                    <td width="150px" style="text-align:center">

                                        <a href="@Url.Action("DetailUser", "Admin", new { @id = item.IdTK})" class="btn btn-success btn-sm btn-sm" style="width:50px" title="Chi tiết">
                                            <i class="fas fa-info-circle"></i>
                                        </a>
                                        <span> | </span>
                                        <a href="@Url.Action("DeleteUser", "Admin", new { @id = item.IdTK})" class="btn btn-danger btn-sm btn-sm" style="width:50px" title="Khóa người dùng">
                                            <i class="fas fa-trash"></i>
                                        </a>

                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->
    <!-- Footer -->
    <footer class="sticky-footer bg-white">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span></span>
            </div>
        </div>
    </footer>
    <!-- End of Footer -->

</div>
<!-- End of Content Wrapper -->
