@model IEnumerable<DACN.Models.DONHANG>

@{
    ViewBag.Title = "ListCart";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<!-- Content Wrapper -->
<div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
            <h5 class="m-0 font-weight-bold text-primary" style="position:relative; left:45%">Báo cáo đơn hàng</h5>
        </nav>
        <!-- End of Topbar -->
        <!-- Begin Page Content -->
        <div class="container-fluid">
            <!-- DataTales Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <a href="@Url.Action("ExportExcel_EPPLUS", "Admin")" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm" style="position:relative; left:88%">
                        Export file Excel
                    </a>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead style="text-align:center">
                                <tr>
                                    <th>Mã DH</th>
                                    <th>Tên người mua</th>
                                    <th>Tên sản phẩm</th>
                                    <th>Ngày đặt hàng</th>
                                    <th>Ngày nhận hàng</th>
                                    <th>Địa chỉ giao hàng</th>
                                    <th>Tổng tiền</th>
                                </tr>
                            </thead>
                            <tfoot style="text-align:center">
                                <tr>
                                    <th>Mã DH</th>
                                    <th>Tên người mua</th>
                                    <th>Tên sản phẩm</th>
                                    <th>Ngày đặt hàng</th>
                                    <th>Ngày nhận hàng</th>
                                    <th>Địa chỉ giao hàng</th>
                                    <th>Tổng tiền</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.MaDH</td>
                                        <td>@item.TAIKHOAN.TenNguoiDung</td>
                                        <td>@item.MaDH</td>
                                        <td>@item.NgayDatHang</td>
                                        <td>@item.NgayGiaoHang</td>
                                        <td>@item.DiaChiGiaoHang</td>
                                        <td>@item.TongTien</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->
    <!-- Footer -->
    <footer class="sticky-footer bg-white">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span></span>
            </div>
        </div>
    </footer>
    <!-- End of Footer -->

</div>
<!-- End of Content Wrapper -->